<h1>アカウント編集ページ</h1>
<%= render 'users/error_messages' %>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :"名前" %>
  <%= f.text_field :name %>
  <%= f.label :"メールアドレス" %>
  <%= f.email_field :email %>
  <%= f.label :"パスワード" %>
  <%= f.password_field :password %>
  <%= f.label :"パスワード（確認）" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "更新する" %>
<% end %>

<%= link_to "戻る", user_path(current_user.id), id: "back" %>

