<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebRailsSessionLoginTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
      <ul> 
        <li><%= link_to "タスク一覧", tasks_path, id: "tasks-index" %></li>
        <li><%= link_to "タスクを登録する", "#", id: "new-task" %></li>
        <li><%= link_to "アカウント", user_path(current_user.id), id: "my-account" %></li>
        <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete, id: "sign-out" %></li>
      </ul>
    <% else %>
      <ul> 
        <li><%= link_to "アカウント登録", new_user_path, id: "sign-up" %></li>
        <li><%= link_to "ログイン", new_session_path, id: "sign-in" %></li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
